---
import '../styles/global.css';

import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

interface Props {
	title?: string;
	description?: string;
	image?: string;
}

const { 
	title = "MAXEVO PACKAGING | La qualité dans chaque détail", 
	description = "Maxevo est une entreprise marocaine spécialisée dans les solutions d’emballage alimentaire jetable de haute qualité pour les professionnels de la restauration.",
	image = "/default-og-image.jpg" // Replace with a real default image later
} = Astro.props;
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="author" content="Maxevo Packaging" />
		<meta name="generator" content={Astro.generator} />
		
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={image} />
		
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
	</head>
	<body class="bg-maxevo-white text-maxevo-dark flex flex-col min-h-screen">
		<main class="flex-grow">
			<Header />
			<slot />
			<Footer />
		</main>
	</body>
</html>